<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SQLConnection" connectionString="Data Source=localhost;Initial Catalog=term_paper;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Term_Paper_Pages.Properties.Settings.SQLConnection"
   connectionString="Data Source=localhost;Initial Catalog=term_paper;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>